<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="\static\admin.js"></script>
    <script defer src="\static\index.js"></script>
    <link rel="stylesheet" href="\static\login-page.css">
    <link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  
  <script>
    var count1 = 0;
    var dataObject;

    async function getAll() {
      let response = await fetch("/exam-time-table/getAll", {
        method: "POST",
        headers: {
          "Content-Type": "application/xxx-form",
        },
      });

      let data = await response.json();

      return data;
    }

    const data = getAll()
      .then((data) => {
        var dataObject = ObjectToArray(data);
        main(dataObject);
      })
      .then(() => {})
      .catch((err) => {
        alert("error");
      });

    function main(dataArray) {
      let table = document.getElementById("data-table");
      let table1 = document.getElementById("data-table1");

      console.log(dataArray);

      var std = localStorage.getItem('std')

      let tabledata2 = "";
      let tabledata3 = "";

      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        var admin_id = localStorage.getItem('admin-id')
        var exam_name = localStorage.getItem('exam-name')
        if (element["class"]==std && element["schoolname"] == schoolname && element["user"]==admin_id){
          tabledata3 += '<thead style="border:none;" class="thead-light"><tr style="border:none;"><td style="border:none;"><b>Class :   </b>' + element["class"] + 'th Standard</td><td style="border:none;"/><td style="border:none;"/><td style="border:none;"><b>Name of the Examination  : </b>' + exam_name + '</td><td><a class="form-control btn btn-info" onclick="updateTimetable('+element["class"]+',\''+element["schoolname"]+'\',\''+element["exam-name"]+'\')">Save</a></td><td><a class="form-control btn btn-danger" onclick="close_page()">Close</a></td></tr></thead>';
          table1.innerHTML = tabledata3;
        } 
      });


      tabledata2 += `<thead class="thead-light">
                                            <tr>
                                            <th>Subject Name</th>
                                            <th>Exam Date</th>
                                            <th>Exam Time</th>
                                            </tr>
                                        </thead>`;

      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname")
        var admin_id = localStorage.getItem('admin-id')
        var exam_name = localStorage.getItem('exam-name')
        if (element["class"]==std && element["schoolname"] == schoolname && element["user"]==admin_id && element["exam-name"]==exam_name){
          
         for(key in element["time-table"]){
            console.log(element["time-table"][key]["subject-name"])
            var date = element["time-table"][key]["exam-date"];
            var dateArr = date.split("-");
            var newDate = dateArr[2]+"-"+dateArr[1]+"-"+dateArr[0];
            
            tabledata2 += "<tbody>";
            tabledata2 += "<tr>";
            tabledata2 += '<th scope="row" id="subname'+count1+'">' + element["time-table"][key]["subject-name"] + "</td>";
            tabledata2 += "<td><input type='date' class='form-control'  id='examdate"+count1+"' value="+newDate+"></td>";
            tabledata2 += "<td><input type='time' class='form-control' id='examtime"+count1+"'value="+element["time-table"][key]["exam-time"]+"></td>";
            tabledata2 += "</tr>";
            tabledata2 += "</tbody>";
            table.innerHTML = tabledata2;
            count1 = count1 + 1;
         }
        } 
      });

      return;
    }


    
    function close_page(){
        window.location.replace('/admin/view-time-table')
    }

    function create_exam_time_table(){
        window.location.replace("/admin/exam-time-table")
    }

    function deleteTimetable(std,schoolname,exam_name){
      if(confirm("Do you want to delete this time table?")==true){
        var admin_id = localStorage.getItem('admin-id')
        var fd =  new FormData();
        fd.append('admin-id',admin_id)
        fd.append('std',std)
        fd.append('schoolname',schoolname)
        fd.append('exam-name',exam_name)
        fetch("/delete/exam-time-table", {
            method: "POST",
            body: fd,
          })
            .then(function (response) {
              //console.log(response);

              return response.json();
            })
            .then(function (data) {
              console.log(data);
              if(data.status = "success"){
                Swal.fire({
                    title: 'Exam time table deleted successfully!',
                    icon: 'success'
                }).then(function(result) {
                if (result.value) {
                    window.location.replace("/admin/view-time-table");
                }
                });
              }
              else{
                Swal.fire({
                    title: 'Could not delete this time table, please try again.',
                    icon: 'danger'
                }).then(function(result) {
                if (result.value) {
                    window.location.replace("/admin/view-time-table")
                }
                });
              }
            });
        }
    }

    function updateTimetable(std,schoolname,exam_name){
        var sub_name = [];
        var exam_date = [];
        var exam_time = [];
        var time_table_obj = {};
        for (i = 0; i < count1; i++) {
            sub_name.push(document.getElementById("subname" + i).textContent);
            console.log(document.getElementById("subname" + i).textContent)

            exam_date.push(document.getElementById("examdate" + i).value);
            console.log(document.getElementById("examdate" + i).value);

            exam_time.push(document.getElementById("examtime" + i).value);
            console.log(document.getElementById("examtime" + i).value);

            time_table_obj[i+1] = {
                "subject-name":sub_name[i],
                "exam-date":exam_date[i].split("-").reverse().join("-"),
                "exam-time":exam_time[i]
            }
        }


        var user_id = localStorage.getItem("admin-id");
        var match_ques_obj = {};
        match_ques_obj = {
            "user": user_id,
            "class":std.toString(),
            "exam-name":exam_name,
            "schoolname":schoolname,
            "time-table":time_table_obj
        }
        update_time_table(JSON.stringify(match_ques_obj,null,'\t'),exam_name);
        console.log(JSON.stringify(match_ques_obj, null, '\t'))
    }
  </script>

  <body>
    <div id="includedContent"></div>
    <div class="container-fluid">
      <div class="p-3 m-3">
        <div class="p-3 m-3">
          <div class="container">
            <!-- Container-->
            <div id="report_TextBoxesGroup" class="container bg-light p-3">
              <h5
                style="font-size: 25px; font-weight: bold"
                class="text-center pb-3 display-5"> Examination - Time Table </h5>
              <div>
                <div class="container">
                  <table class="table" style="border:none;" id="data-table1"></table>
                  <table class="table" id="data-table"></table>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
