<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="\static\admin.js"></script>
    <script defer src="\static\index.js"></script>
    <link rel="stylesheet" href="\static\login-page.css">
    <link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
</head>

<script>
    var myArray1 = {}

    async function getAll() {
        let response = await fetch("/teacher/admin-approval",
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/xxx-form"
                }
            }
        );

        let data = await response.json();

        return data;
    }

    const data = getAll()
        .then((data) => {
            var dataObject = ObjectToArray(data);
            if (dataObject.length == 0) {
                var tabsContainer = document.getElementById("report_TextBoxesGroup");

                tabsContainer.innerHTML += '<div style="text-align: center; padding: 10px;"><h5>Teachers are Not found</h5></div>';

            }
            else{
           
            myArray1 = [...dataObject]
            main(dataObject);
            }
        })
        .then(() => {

        })
        .catch((err) => {
            alert("error")
        });
        var schoolname = localStorage.getItem('schoolname');

    function main(dataArray) {
        document.getElementById("searchOption").style.display = "block";
        let table3 = document.getElementById('data-table1');
        console.log(dataArray);
        let tabledata3 = "";

        tabledata3 += `<thead class="thead-light">
                                            <tr>
                                            <th>Name</th>
                                            <th>Register Number</th>
                                            <th>Role</th>
                                            <th>Approval</th>
                                            </tr>
                                        </thead>`;
        dataArray.forEach(element => {

            
            if (element["schoolname"] == schoolname) {
                tabledata3 += '<tbody>';
                tabledata3 += '<tr>';
                tabledata3 += '<th scope="row">' + (element["name"]) + '</td>';
                tabledata3 += '<td>' + (element["regId"]) + '</td>';
                tabledata3 += '<td>Teacher</td>';
                tabledata3 += '<td><button style="width:90px;" class="form-control btn btn-info" onclick="approveTeacher(\'' + element["regId"] + '\')" value="Approve">Approve</button></td>';
                tabledata3 += '</tr>';
                tabledata3 += '</tbody>'
                table3.innerHTML = tabledata3;
            }
        });
        return;
    }


    function approveTeacher(regno) {
        var fd = new FormData();
        fd.append("regId", regno);
        fetch('/teacher/approved', {
            method: 'POST',
            body: fd
        }).then(function (response) {
            return response.json();

        }).then(function (data) {
            console.log(data);
            if (data.status == "success") {
                // location.reload();
                Swal.fire({
                    title: 'Register number '+regno+' is approved successfully!',
                    icon: 'success'
                }).then(function(result) {
                if (result.value) {
                    window.location.replace("/admin/teacher-approval");
                }
                });
            }
            else {
                Swal.fire({
                    title: 'Could not approve register number '+regno+', please try again.',
                    icon: 'danger'
                }).then(function(result) {
                if (result.value) {
                    window.location.replace("/admin/teacher-approval")
                }
                });
                // alert("Couldn't approve please try again!");
            }
        });
    }

    function hello(elem){
        var myArray = []
        myArray = [...myArray1];
        var schoolname = localStorage.getItem('schoolname')
        var input1 = "";
        input1 = document.getElementById('input').value
        if(input1 !== ""){
        var myArr = []
        if (elem.value !== "") {
            for (var i = 0; i < myArray.length; i++) {
            if(myArray[i]["schoolname"] == schoolname) {
                if (myArray[i]["regId"].indexOf(elem.value) > -1) {
                    myArr.push(myArray[i])     
                }
            }
        }

        if(myArr.length==0){
        for (var i = 0; i < myArray.length; i++) {
            if ((myArray[i]["name"]).toLowerCase().indexOf((elem.value).toLowerCase()) > -1) { 
                myArr.push(myArray[i])      
            } 
        }
        }

        if(myArr.length!=0){
            var table3 = document.getElementById('data-table1');
            var tabledata3 = "";
            tabledata3 += `<thead class="thead-light">
                                                <tr>
                                                <th>Name</th>
                                                <th>Register Number</th>
                                                <th>Role</th>
                                                <th>Approval</th>
                                                </tr>
                                            </thead>`;
            myArr.forEach(element => {

                var schoolname = localStorage.getItem('schoolname');
                if (element["schoolname"] == schoolname) {
                    tabledata3 += '<tbody>';
                    tabledata3 += '<tr>';
                    tabledata3 += '<th scope="row">' + (element["name"]) + '</td>';
                    tabledata3 += '<td>' + (element["regId"]) + '</td>';
                    tabledata3 += '<td>Teacher</td>';
                    tabledata3 += '<td><button style="width:90px;" class="form-control btn btn-info" onclick="approveTeacher(\'' + element["regId"] + '\')" value="Approve">Approve</button></td>';
                    tabledata3 += '</tr>';
                    tabledata3 += '</tbody>'
                    table3.innerHTML = tabledata3;
                }
            });
        }

        else{
            document.getElementById('data-table1').innerHTML = ""
            var table = document.getElementById("data-table1");
            var tabledata2 = "";
            tabledata2 += `<thead><tr><td>No records found.</td></tr></thead>`;
            table.innerHTML = tabledata2;
            }
        }
        }
        else if(input1 == ""){
            let table3 = document.getElementById('data-table1');
            let tabledata3 = "";
            tabledata3 += `<thead class="thead-light">
                                                <tr>
                                                <th>Name</th>
                                                <th>Register Number</th>
                                                <th>Role</th>
                                                <th>Approval</th>
                                                </tr>
                                            </thead>`;
            myArray1.forEach(element => {

                var schoolname = localStorage.getItem('schoolname');
                if (element["schoolname"] == schoolname) {
                    tabledata3 += '<tbody>';
                    tabledata3 += '<tr>';
                    tabledata3 += '<th scope="row">' + (element["name"]) + '</td>';
                    tabledata3 += '<td>' + (element["regId"]) + '</td>';
                    tabledata3 += '<td>Teacher</td>';
                    tabledata3 += '<td><button style="width:90px;" class="form-control btn btn-info" onclick="approveTeacher(\'' + element["regId"] + '\')" value="Approve">Approve</button></td>';
                    tabledata3 += '</tr>';
                    tabledata3 += '</tbody>'
                    table3.innerHTML = tabledata3;
                }
            });
        }
}

</script>


<body>
    <div id="includedContent"></div>
    <div class="container-fluid">
        <div class="p-3 m-3">
            <div class="p-3 m-3">
                <div class="container">
                    <!-- Container-->
                    <div id='report_TextBoxesGroup' class='container bg-light p-3'>

                        <div class="container">
                            <h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">Approve
                                Teachers</h5>

                            <br>
                            <div class="row" id="searchOption">
                                <div class="col-sm-8"></div>
                                  <div class="col-sm-4">
                                      <div class="input-icons">
                                          <i class="fa fa-search icon"></i>
                                          <input type="search" id="input" class="form-control input-field" onkeyup="hello(this)" placeholder="Search"
                                          aria-label="Search"/>
                                      </div>
                                  </div>
                            </div>
                          <br>
                            <div id='info-panel'>
                                <table class="table" id="data-table1"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>