<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand"><b>Eduscribe</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="\admin\home-page" class="nav-item nav-link">Home</a>
                <a href="\admin\file-metadata" class="nav-item nav-link">Content details</a>
                <a href="\admin\live-panel" class="nav-item nav-link">Examination Review Panel</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Users</a>
                    <div class="dropdown-menu">
                        <a href="\admin\teacher-details" class="dropdown-item">Teachers</a>
                        <a href="\admin\examiner-details" class="dropdown-item">Examiners</a>
                        <a href="#" class="nav-link dropdown-toggle" style="margin-left: 20px;"
                            data-toggle="dropdown" class="dropdown-item">Students</a>
                        <div class="nav-item dropdown">
                            <div class="dropdown-menu">
                                <a href="\admin\9th-student-details" class="dropdown-item">9th standard</a>
                                <a href="\admin\10th-student-details" class="dropdown-item">10th standard</a>
                                <a href="\admin\11th-student-details" class="dropdown-item">11th standard</a>
                                <a href="\admin\12th-student-details" class="dropdown-item">12th standard</a>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Enrollments</a>
                    <div class="dropdown-menu">
                        <a href="\admin\student-hsc-enrollment" class="dropdown-item">HSC Student</a>
                        <a href="#" class="nav-link dropdown-toggle" style="margin-left: 20px;"
                            data-toggle="dropdown" class="dropdown-item">Teacher enrollment</a>
                        <div class="nav-item dropdown">
                            <div class="dropdown-menu">
                                <a href="\admin\teacher-sslc-enrollment" class="dropdown-item">Upto SSLC</a>
                                <a href="\admin\teacher-hsc-enrollment" class="dropdown-item">HSC</a>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Approve users</a>
                    <div class="dropdown-menu">
                        <a href="\admin\student-approval" class="dropdown-item">Approve students</a>
                        <a href="\admin\teacher-approval" class="dropdown-item">Approve teachers</a>
                        <a href="\admin\examiner-approval" class="dropdown-item">Approve Examiners</a>
                    </div>
                </div>
            </div>

            

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                    data-toggle="dropdown">Time tables</a>
                <div class="dropdown-menu">
                    <a href="\admin\view-time-table" class="dropdown-item">Exam time table</a>
                    <a href="\admin\view-teacher-time-table" class="dropdown-item">Teacher time table</a>
                    <a href="\admin\view-class-time-table" class="dropdown-item">Class time table</a>
                </div>
            </div>
        </div>
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Settings</a>
                    <div class="dropdown-menu">
                        <a href="\admin\profile" class="dropdown-item">My Profile</a>
                        <a href="" class="dropdown-item">Time Table</a>
                        <a class="dropdown-item" onclick="logout()">Log Out</a>
                    </div>
                </div>

            </div>

        </div>
    </nav>
</div>