<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="\static\admin.js"></script>
    <script defer src="\static\index.js"></script>
    <link rel="stylesheet" href="\static\login-page.css">
    <link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>


<script>
    var match_count = 0;
    var match_ques = [];
    var match_ans = [];
    var match_opt = [];
    var num = 1;
    var match_container = "";
    var al = 97;
    var std = "";
    var sec = "";
    function match_add_field() {
        if (num > 1) {
            $("#match_a").empty();
            match_count = 1;
        }
        num++;
        
        var name_of_exam = document.getElementById("name-exam").value;
        match_container = document.getElementById("match_a");
        match_count = document.getElementById("no_of_sub").value;
        std = document.getElementById("std").value;
        if (name_of_exam =="Quarterly Examination" || name_of_exam =="Half-yearly Examination" || name_of_exam=="Mid-term test" || name_of_exam=="Class test"){
            if(std=="9" || std =="10" || std =="11" || std =="12"){
                if(match_count!=""){
                    document.getElementById('match_getvalue').style.display = "block";
                    for(i=0;i<match_count;i++){
                        if(i==0){
                            match_container.innerHTML = match_container.innerHTML +
                        "<div id='match_" + i + "'><div class='row'><div class='col-sm-5'><label style='font-weight: bold; ' >Subject name</label></div><div class='col-sm-3'><label style='font-weight:bold;'>Time</label></div><div class='col-sm-3'><label style='font-weight:bold;'>Date</label></div></div><div class='row'><div class = 'col-sm-5'><div style='height:40px;' class='form-control input_text' id='subname" + i + "'contenteditable='true' data-placeholder='Subject Name' ></div></div><div class='col-sm-3'><input type='time' id='examtime" + i + "' class='form-control' place-holder='Exam time'></div><div class='col-sm-3'><input type='date' id='examdate" + i + "' class='form-control' place-holder='Exam Date'></div></div>&nbsp;</div></div>";
                        }
                        else{
                            match_container.innerHTML = match_container.innerHTML +
                        "<div id='match_" + i + "'><div class='row'><div class = 'col-sm-5'><div style='height:40px;' class='form-control input_text' id='subname" + i + "'contenteditable='true' data-placeholder='Subject Name' ></div></div><div class='col-sm-3'><input type='time' id='examtime" + i + "' class='form-control' place-holder='Exam time'></div><div class='col-sm-3'><input type='date' id='examdate" + i + "' class='form-control' place-holder='Exam Date'></div></div>&nbsp;</div></div>";
                        }
                    }
                }else{
                    alert("Enter number of subjects")
                } 
            }else{
                alert("Please select standard");
            }
        }
        else {
            alert("Please enter all the fields");
        }
    }

    function match_getvalues() {
        var sub_name = [];
        var exam_date = [];
        var exam_time = [];
        var time_table_obj = {};
        for (i = 0; i < match_count; i++) {
            sub_name.push(capitalizeFirstLetter(document.getElementById("subname" + i).textContent));
            exam_date.push(document.getElementById("examdate" + i).value);
            exam_time.push(document.getElementById("examtime" + i).value);
            time_table_obj[i+1] = {
                "subject-name":sub_name[i],
                "exam-date":exam_date[i].split("-").reverse().join("-"),
                "exam-time":exam_time[i]
            }
        }

        if(count(sub_name)==match_count && count(exam_date)==match_count && count(exam_time) == match_count){
            var user_id = localStorage.getItem("admin-id");
            var schoolname = localStorage.getItem("schoolname");
            var name_exam = document.getElementById("name-exam").value;
            var match_ques_obj = {};
            match_ques_obj = {
                "user": user_id,
                "class":std,
                "exam-name":name_exam,
                "schoolname":schoolname,
                "time-table":time_table_obj
            }
            create_time_table(JSON.stringify(match_ques_obj,null,'\t'),name_exam);
            console.log(JSON.stringify(match_ques_obj, null, '\t'))
            }
            else{
                alert("Please enter all the fields");
            }
    }

</script>

<body>
    <div id="includedContent"></div>
    <div class="container-fluid">
        <!-- Section Content -->
        <div class="p-3 m-3">
            <div class="p-3 m-3">
                <div class="container">
                    <form>
                        <!-- Container-->
                        <div id='match_TextBoxesGroup' class='container bg-light p-3'>
                            <h5 class="text-center pb-3 display-5">Examination - Time Table</h5>

                            <div class="form-group">
                                <label style="font-weight: bold;">Name of the examination</label>
                                <select id="name-exam" class="form-control">
                                    <option> -- Type of examination -- </option>
                                    <option value="Quarterly Examination"> Quarterly Examination </option>
                                    <option value="Half-yearly Examination"> Half-yearly Examination </option>
                                    <option value="Mid-term test"> Mid-term test </option>
                                    <option value="Class test"> Class test </option>
                                </select>
                            </div>

                            <div class="row">

                                <div class="col-sm-1"><label style="font-weight: bold;">Standard</label></div> 
                                <div class="col-sm-3"> <select id="std" class="form-control">
                                    <option> -- Select Standard -- </option>
                                    <option value="9"> 9th Standard </option>
                                    <option value="10"> 10th Standard </option>
                                    <option value="11"> 11th Standard </option>
                                    <option value="12"> 12th Standard </option>
                                </select></div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-2"><label style="font-weight: bold;">Number of subjects</label></div>
                                <div class="col-sm-3"><input type="text" class="form-control" id="no_of_sub" placeholder="Number of subjects"></div>
                            </div>
                            <br>

                            <div id="match_b" class="row">
                                <div class="col-sm-11"><label></label></div>
                                <div class=col-sm-1><input style="height:40px;" type='button' value='Add'
                                        class="btn btn-info mr-3" onclick="match_add_field();" id='match_addBtn'>
                                </div>
                            </div>

                            <div id="match_a"></div>
                            <div class="col-sm-1"><input style="height:40px;display: none;" type='button' value='Save'
                                    class="btn btn-info mr-3" onclick="match_getvalues();" id='match_getvalue'>
                            </div>

                        </div>

                </div>

                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>