<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="\static\admin.js"></script>
    <script defer src="\static\index.js"></script>
    <link rel="stylesheet" href="\static\login-page.css">
    <link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   </head>

<script>
    var dataObject;
    var count = 1;
    var cnnt1 = 0;
    var cnnt2 = 0;
    var cnnt3 = 0;
    var cnnt4 = 0;
    async function getAll() {
        
        let response = await fetch("/student-time-table/getAll",
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/xxx-form"
                },
            }
        );

        let data = await response.json();

        return data;
    }

    const data = getAll()
        .then((data) => {

            var dataObject = ObjectToArray(data);
            main(dataObject);
        })
        .then(() => {

        })
        .catch((err) => {
            alert("error")
        });

    function main(dataArray) {
        let table = document.getElementById('data-table');
        console.log(dataArray);
        let tabledata2 = "";

        let table1 = document.getElementById('data-table1');
        let tabledata3 = "";

        let table2 = document.getElementById('data-table2');
        let tabledata4 = "";

        let table3 = document.getElementById('data-table3');
        let tabledata5 = "";


        let t1 = document.getElementById('data-head1');
        console.log(dataArray);
        let table_head1 = "";

        let t2 = document.getElementById('data-head2');
        let table_head2 = "";

        let t3 = document.getElementById('data-head3');
        let table_head3 = "";

        let t4 = document.getElementById('data-head4');
        let table_head4 = "";
               
dataArray.forEach(element => {
        var admin_id = localStorage.getItem("admin-id");
        var schoolname = localStorage.getItem("schoolname");
        if (element["user"] == admin_id && element["class"] == "9" && element["schoolname"] == schoolname) {
            tabledata2 += '<br>'
            tabledata2 += '<tbody>';
            tabledata2 += '<tr/>';
            tabledata2 += '<tr style="border:none;"><td style="border:none;">Class :</td><td style="border:none;">' + (element["class"]) + '</td><td style="border:none;"/><td style="border:none;"/><td style="border:none;"/><td style="border:none;">Section :</td><td style="border:none;">' + (element["section"]) + '</td><td style="border:none;"><button class="form-control btn btn-success" onclick="edit_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Edit</button></td><td style="border:none;"><button class="form-control btn btn-danger" onclick="delete_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Delete</button></td></td></tr>';
            tabledata2 += '<tr/>';
            tabledata2 += '</tbody>';

            tabledata2 += '<tbody class="thead">';
            
            tabledata2 += '<tr>';
            tabledata2 += '<th scope="row">Days / Timings</td>';
            for (key in element["timings"]){
                tabledata2 += '<th scope="row">' + (element["timings"][key]) + '</td>';
            }
            tabledata2 += '</tr>';

    
            for(i=1;i<=5;i++){
                tabledata2 += '<tr>';
                tabledata2 += '<th scope="row">'+capitalizeFirstLetter(element["time-table"][i]["day"])+'</td>';
        
                for (key in element["time-table"][i]["classes"]){
                    tabledata2 += '<th scope="row">' + (element["time-table"][i]["classes"][key]) + '</td>';
                }
                tabledata2 += '</tr>';
            
            }

            tabledata2 += '</tbody>'

            table.innerHTML = tabledata2;
            // if(cnnt1==0){
            //     table_head1 += '<tbody><tr><center><h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">9th Standard</h5></center><tr/></tbody>';
            //     t1.innerHTML = table_head1;
            // }
            // cnnt1++;
    }

});

dataArray.forEach(element => {
        
        var admin_id = localStorage.getItem("admin-id");
        var schoolname = localStorage.getItem("schoolname");
        if (element["user"] == admin_id && element["class"] == "10" && element["schoolname"] == schoolname) {
            tabledata3 += '<br>'
            tabledata3 += '<tbody>';
            tabledata3+= '<tr/>';
            tabledata3 += '<tr style="border:none;"><td style="border:none;">Class :</td><td style="border:none;">' + (element["class"]) + '</td><td style="border:none;"/><td style="border:none;"/><td style="border:none;"/><td style="border:none;">Section :</td><td style="border:none;">' + (element["section"]) + '</td><td style="border:none;"><button class="form-control btn btn-success" onclick="edit_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Edit</button></td><td style="border:none;"><button class="form-control btn btn-danger" onclick="delete_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Delete</button></td></td></tr>';
            tabledata3 += '<tr/>';
            tabledata3 += '</tbody>';

            tabledata3 += '<tbody class="thead">';
            
            tabledata3 += '<tr>';
            tabledata3 += '<th scope="row">Days / Timings</td>';
            for (key in element["timings"]){
                tabledata3 += '<th scope="row">' + (element["timings"][key]) + '</td>';
            }
            tabledata3 += '</tr>';

    
            for(i=1;i<=5;i++){
                tabledata3 += '<tr>';
                tabledata3 += '<th scope="row">'+capitalizeFirstLetter(element["time-table"][i]["day"])+'</td>';
        
                for (key in element["time-table"][i]["classes"]){
                    tabledata3 += '<th scope="row">' + (element["time-table"][i]["classes"][key]) + '</td>';
                }
                tabledata3 += '</tr>';
            
            }

            tabledata3 += '</tbody>'

            table2.innerHTML = tabledata3;
            // if(cnnt2==0){
            //     table_head2 += '<tbody><tr><center><h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">10th Standard</h5></center><tr/></tbody>';
            //     t2.innerHTML = table_head2;
            // }
            // cnnt2++;
}

});

dataArray.forEach(element => {
        var admin_id = localStorage.getItem("admin-id");
        var schoolname = localStorage.getItem("schoolname");
        if (element["user"] == admin_id && element["class"] == "11" && element["schoolname"] == schoolname) {
            tabledata4 += '<br>'
            tabledata4 += '<tbody>';
            tabledata4 += '<tr/>';
            tabledata4 += '<tr style="border:none;"><td style="border:none;">Class :</td><td style="border:none;">' + (element["class"]) + '</td><td style="border:none;"/><td style="border:none;"/><td style="border:none;"/><td style="border:none;">Section :</td><td style="border:none;">' + (element["section"]) + '</td><td style="border:none;"><button class="form-control btn btn-success" onclick="edit_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Edit</button></td><td style="border:none;"><button class="form-control btn btn-danger" onclick="delete_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Delete</button></td></td></tr>';
            tabledata4 += '<tr/>';
            tabledata4 += '</tbody>';

            tabledata4 += '<tbody class="thead">';
            
            tabledata4 += '<tr>';
            tabledata4 += '<th scope="row">Days / Timings</td>';
            for (key in element["timings"]){
                tabledata4 += '<th scope="row">' + (element["timings"][key]) + '</td>';
            }
            tabledata4 += '</tr>';

    
            for(i=1;i<=5;i++){
                tabledata4 += '<tr>';
                tabledata4 += '<th scope="row">'+capitalizeFirstLetter(element["time-table"][i]["day"])+'</td>';
        
                for (key in element["time-table"][i]["classes"]){
                    tabledata4 += '<th scope="row">' + (element["time-table"][i]["classes"][key]) + '</td>';
                }
                tabledata4 += '</tr>';
            
            }

            tabledata4 += '</tbody>'

            table2.innerHTML = tabledata4;
}

});


dataArray.forEach(element => {
        var admin_id = localStorage.getItem("admin-id");
        var schoolname = localStorage.getItem("schoolname");
        if (element["user"] == admin_id && element["class"] == "12" && element["schoolname"] == schoolname) {
            tabledata5 += '<br>'
            tabledata5 += '<tbody>';
            tabledata5 += '<tr/>';
            tabledata5 += '<tr style="border:none;"><td style="border:none;">Class :</td><td style="border:none;">' + (element["class"]) + '</td><td style="border:none;"/><td style="border:none;"/><td style="border:none;"/><td style="border:none;">Section :</td><td style="border:none;">' + (element["section"]) + '</td><td style="border:none;"><button class="form-control btn btn-success" onclick="edit_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Edit</button></td><td style="border:none;"><button class="form-control btn btn-danger" onclick="delete_admin_class_time_table(\''+element["class"]+'\',\''+element["section"]+'\',\''+element["schoolname"]+'\')">Delete</button></td></td></tr>';
            tabledata5 += '<tr/>';
            tabledata5 += '</tbody>';

            tabledata5 += '<tbody class="thead">';
            
            tabledata5 += '<tr>';
            tabledata5 += '<th scope="row">Days / Timings</td>';
            for (key in element["timings"]){
                tabledata5 += '<th scope="row">' + (element["timings"][key]) + '</td>';
            }
            tabledata5 += '</tr>';

    
            for(i=1;i<=5;i++){
                tabledata5 += '<tr>';
                tabledata5 += '<th scope="row">'+capitalizeFirstLetter(element["time-table"][i]["day"])+'</td>';
        
                for (key in element["time-table"][i]["classes"]){
                    tabledata5 += '<th scope="row">' + (element["time-table"][i]["classes"][key]) + '</td>';
                }
                tabledata5 += '</tr>';
            
            }

            tabledata5 += '</tbody>'

            table3.innerHTML = tabledata5;
    }

    });
  return;
}

function create_admin_class_time_table(){
    window.location.replace("/admin/class-time-table")
}

function delete_admin_class_time_table(std,sec,schoolname){
    if (confirm("Do you want to delete this time table?") == true) {
        var admin_id = localStorage.getItem("admin-id");
        var send = new FormData();
        send.append('admin-id',admin_id)
        send.append('std', std)
        send.append('section', sec)
        send.append('schoolname',schoolname)
        fetch('/delete/class-time-table', {
            method: 'POST',
            body: send
        }).then(function (response) {
            return response.json();

        }).then(function (data) {
            console.log(data)
            if(data.status=="success"){
                    Swal.fire({
                    title: 'Time table deleted successfully!',
                    icon:'success'
                }).then(function(result) {
                    if (result.value) {
                        window.location.replace("/admin/view-class-time-table");
                }
                });
            }
            else{
                Swal.fire({
                title: 'Something went wrong, please try again',
                icon:'error'
            })  
            }            
        });
    } 
    // alert(std)
    // alert(sec)
    // alert(schoolname)
}
function edit_admin_class_time_table(std,sec,schoolname){
    localStorage.setItem('std',std)
    localStorage.setItem('section',sec)
    localStorage.setItem('schoolname',schoolname)
    window.location.replace('/admin/edit-class-time-table')
}



</script>

<body>
    <div id="includedContent"></div>
    <div class="container-fluid">
        <div class="p-3 m-3">
            <div class="p-3 m-3">
                <div class="container">
                    
                    <!-- Container-->
                    <div id='report_TextBoxesGroup' class='container bg-light p-3'>
                        <div class="row">
                            <div class="col-sm-10"></div>
                            <div class="col-sm-2"><input style="height:40px;" type='button' value='Create time table'
                                class="btn btn-dark mr-3" onclick="create_admin_class_time_table();" id='exam_time_table'>
                        </div>
                        </div>
                        <!-- <h4 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">Time Table for all classes</h4><br>
                        <h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">9th Standard</h5> -->
                                <!-- <br> -->
                                <div class="container">
                                    <!-- <table class="table table-striped" id="data-head1"></table><br> -->
                                    <table class="table table-striped" id="data-table"></table><br>

                                    <!-- <br> -->
                                    <!-- <h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">10th Standard</h5> -->
                                    <!-- <table class="table table-striped" id="data-head2"></table><br> -->
                                    <table class="table table-striped" id="data-table1"></table>

                                    <!-- <br> -->
                                    <!-- <h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">11th Standard</h5> -->
                                   
                                    <!-- <table class="table table-striped" id="data-head3"></table><br> -->
                                    <table class="table table-striped" id="data-table2"></table>

                                    <!-- <br> -->
                                    <!-- <h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">12th Standard</h5> -->
                                    <!-- <table class="table table-striped" id="data-head4"></table><br> -->
                                    <table class="table table-striped" id="data-table3"></table>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>