<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand"><b>Eduscribe</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="\teacher\home-page" class="nav-item nav-link">Home</a>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Upload contents</a>
                    <div class="dropdown-menu">
                        <a href="\teacher\book-contents" class="dropdown-item">Upload Book contents</a>
                        <a href="\teacher\teacher-notes" class="dropdown-item">Upload Your Notes</a>
                        <a href="\teacher\file-details" class="dropdown-item">Notes Details</a>
                        
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Students</a>
                    <div class="dropdown-menu">
                        <a href="\teacher\9th-standard" class="dropdown-item">9th Standard</a>
                        <a href="\teacher\10th-standard" class="dropdown-item">10th Standard</a>
                        <a href="\teacher\11th-standard" class="dropdown-item">11th Standard</a>
                        <a href="\teacher\12th-standard" class="dropdown-item">12th Standard</a>

                    </div>
                </div>

                <a href="\teacher\notifications" class="nav-item nav-link">&nbsp;&nbsp;Notifications 🔔</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Enrollments</a>
                    <div class="dropdown-menu">
                        <a href="\teacher\sslc-enrollment" class="dropdown-item">SSLC</a>
                        <a href="\teacher\hsc-enrollment" class="dropdown-item">HSC</a>
                    </div>
                </div>


                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Time tables</a>
                    <div class="dropdown-menu">
                        <a href="\teacher\view-class-time-table" class="dropdown-item">Class - Time table</a>
                        <a href="\teacher\exam-time-table" class="dropdown-item">Exam - Time table</a>
                    </div>
                </div>
                
                
            </div>

            <a href="\teacher\discussion-forum" class="nav-item nav-link">Discussion Forum</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                    data-toggle="dropdown">Assignments</a>
                <div class="dropdown-menu">
                    <a href="\teacher\upload-assignment" class="dropdown-item">Upload Assignments</a>
                    <a href="\teacher\view-assignment-details" class="dropdown-item">Assignment Details</a>
                    <a href="\teacher\assign\9th-standard" class="dropdown-item">View 9th Standard</a>
                    <a href="\teacher\assign\10th-standard" class="dropdown-item">View 10th Standard</a>
                    <a href="\teacher\assign\11th-standard" class="dropdown-item">View 11th Standard</a>
                    <a href="\teacher\assign\12th-standard" class="dropdown-item">View 12th Standard</a>

                </div>
            </div>
            
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" style="margin-right: 20px;"
                        data-toggle="dropdown">Settings</a>
                    <div class="dropdown-menu">
                        <a href="\teacher\profile" class="dropdown-item">My Profile</a>
                        <a class="dropdown-item" onclick="logout()">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>