<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Teacher Portal</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script defer src="\static\teacher.js"></script>
<script defer src="\static\index.js"></script>
<link rel="stylesheet" href="\static\login-page.css">
<link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function teacher_forgot_password() {
    var regno = document.getElementById("teacher-id").value;
    var password = document.getElementById("teacher-new-password").value;
    var new_password = document.getElementById("teacher-confirm-password").value;
    if(regno!="" && password!="" && new_password!=""){
        if (password == new_password) {
            if (password.length >= 8) {
                var fd = new FormData();
                fd.append('regId', regno);
                fd.append('password', password);
                fetch('/teacher/forgot-password', {
                    method: 'POST',
                    body: fd
                }).then(function (response) {

                    //console.log(response);

                    return response.json();

                }).then(function (data) {
                    console.log(data);

                    console.log(data.status);
                    if (data.status == "success") {
                        Swal.fire({
                            title: 'New password created successfully!',
                            icon: 'success'
                        }).then(function(result) {
                    if (result.value) {
                        document.getElementById('form-elem').style.display="none"
                        document.getElementById('form-elem-1').style.display="block"
                    }
                    });
                    }
                    else if (data.status == "user not found") {
                        Swal.fire({
                            title: 'Teacher id is wrong, enter valid id',
                            icon: 'error'
                        });
                    }
                    else {
                        Swal.fire({
                            title: 'Something went wrong, please try again',
                            icon: 'error'
                        });
                    }
                });
            }
            else {
                Swal.fire({
                    title: 'Password length should be greater than 8',
                });
            }
        }
        else {
            Swal.fire({
                title: 'Passwords mismatch',
            });
        }
    }else{
        Swal.fire({
            title: 'Please enter all the fields',
        });
    }
        
}
</script>
</head>
<body>


<!-- Modal HTML -->
	<div class="modal-dialog modal-login">
		<div style="border-style:solid; border-color: gray;" class="modal-content">
			<div class="modal-header">		
				<h4 class="modal-title">Reset password</h4>	
			</div>
			<div class="modal-body" id="form-elem">
                    <div class="form-group">
                        <input type="text" id="teacher-id" class="form-control" name="username" placeholder="Teacher ID" required="required">		
                    </div>
					<div class="form-group">
						<input type="password" id="teacher-new-password" class="form-control" name="new password" placeholder="New password" required="required">	
					</div> 
                    <div class="form-group">
						<input type="password" id="teacher-confirm-password" class="form-control" name="confirm password" placeholder="Confirm password" required="required">	
					</div>        
					<div class="form-group">
						<button type="submit" id="login-form-submit" class="btn btn-primary btn-lg btn-block login-btn" onclick="teacher_forgot_password()">Reset password</button>
					</div>
			</div>
            <div style="display: none;" class="modal-body" id="form-elem-1">
                <center><h1>Thank You!</h1></center>
                <center><a href="/teacher/login">Click here to login</a></center>
        </div>
		</div>  
</body>
</html>