<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="\static\teacher.js"></script>
	<script defer src="\static\index.js"></script>
	<link rel="stylesheet" href="\static\login-page.css">
	<link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
</head>

<script>
    var dataObject;

    async function getAll() {
        
        let response = await fetch("/notifications/getAll",
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/xxx-form"
                },
            }
        );

        let data = await response.json();

        return data;
    }

    const data = getAll()
        .then((data) => {

            var dataObject = ObjectToArray(data);
            main(dataObject);
        })
        .then(() => {

        })
        .catch((err) => {
            alert("error")
        });



    function ObjectToArray(obj) {
        var arr = [];
        for (key in obj) {
            arr.push(obj[key]);
        }
        return arr
    }

    function main(dataArray) {
        let table = document.getElementById('data-table');
        console.log(dataArray);

        var std;
        var sec;

        let tabledata2 = "";
        
        

        dataArray.forEach(element => {
            var schoolname = localStorage.getItem("schoolname");
            if (element["schoolname"] == schoolname) {

                tabledata2 += '<tbody>';
                tabledata2 += '<tr>';
                tabledata2 += '<td scope="row">' + (element["notification"]) + ' for <b>' + (element["exam-name"])+'</b></td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td>' + (element["posted-date"]) + '  ' + (element["posted-time"]) + '</td>';

                tabledata2 += '</tr>';

                tabledata2 += '</tbody>'

                table.innerHTML = tabledata2;
            }

            else{
                tabledata2 += '<tbody>';
                tabledata2 += '<tr>';
                tabledata2 += '<td scope="row"><td/><td/><td/><td/><td/><td/><td/><td/>No notifications found<td/><td/><td/><td/></td>';

                tabledata2 += '</tr>';

                tabledata2 += '</tbody>'

                table.innerHTML = tabledata2;
            }

        });

        return;
    }


</script>

<body>
    <div id="teacher-div"></div>
    <div class="container-fluid">
        <div class="p-3 m-3">
            <div class="p-3 m-3">
                <div class="container">
                    <!-- Container-->
                    <div id='report_TextBoxesGroup' class='container bg-light p-3'>
                        <h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">Notifications</h5>
                        
                        <div >
        
                                <br>
                                <div class="container">
                                    <div id="info-panel">
                                    </div>

                                    <table class="table" id="data-table">


                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>