<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="\static\teacher.js"></script>
    <script defer src="\static\index.js"></script>
    <link rel="stylesheet" href="\static\login-page.css">
    <link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
  </head>

  <body>
    <div id="teacher-div"></div>
    <div class="container-fluid">
      <div class="p-3 m-3">
        <div class="p-3 m-3">
          <div class="container">
            <!-- Container-->
            <div id="report_TextBoxesGroup" class="container bg-light p-3">
              <table class="table" id="data-table2"></table>
                <div id="info-panel">
                  <table class="table" id="data-table1"></table>
                  <table class="table" id="data-table"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  <script>
    var myDateArr1 = []
    var myDateArr = []
    var cnnt = 0;
    var attend = ''
    var dataObject;
    var attendanceArr = []
    var myArray1 = []
    var schoolname = ""
    var std;
    var sec;
    var count1 = 0 
    var regno = localStorage.getItem("regno");
    var mycount = 1;

    async function getAllAttendance() {
      let response = await fetch("/student/get-attendance", {
        method: "POST",
        headers: {
          "Content-Type": "application/xxx-form",
        },
      });

      let data1 = await response.json();

      return data1;
    }

    const data1 = getAllAttendance()
      .then((data1) => {
        var dataObject = ObjectToArray(data1);
        attendanceArr = [...dataObject];
        myArray1 = [...dataObject];
        main(dataObject)
      })
      .then(() => {})
      .catch((err) => {
        alert("error");
      });

    function main(dataArray){
        var mycount = 0;
        cnnt = 0;
        var table = document.getElementById("data-table");
        var tabledata2 = "";
        var table1 = document.getElementById('data-table1');
        var tabledata1 = ""

        var table3 = document.getElementById('data-table2');
        var tabledata3 = ""
        var cnt = 1;

        tabledata3 += "<thead style='font-weight:bold;'><tr><td><div id='searchOption'><div class='input-icons'><i class='fa fa-search icon'></i><input type='search' id='input' class='form-control input-field' onkeyup='hello(this)' placeholder='Search' aria-label='Search'/></div></div><td/><td/><td/><td><input type='button' class='form-control btn btn-dark' value='Download' id='downloadBtn' onclick='printtopdf()'/></td></tr></tbody><br>"; 
        table3.innerHTML = tabledata3;

        var regno = localStorage.getItem("regno");
        attendanceArr.forEach((element) => {
          if(element["regno"] == regno){
            schoolname = element["schoolname"]
            std = element["class"]
            section = element["section"]

            tabledata1 += "<thead style='font-weight:bold;'><tr><td id='rno'>Reg. No : "+regno+"</td><td id='stdd'>Std : "+element['class']+"</td><td id='section'>Section : "+element['section']+"</td><td id='section'>School name : "+element['schoolname']+"</td><td/></tr></tbody><br>"; 
          }
        })
        
        table1.innerHTML = tabledata1;
        
        
        tabledata2 += `<thead class="thead-light">
                                            <tr>
                                            <th>R No.</th>
                                            <th>Date</th>
                                            <th>Day</th>
                                            <th>Forenoon</th>
                                            <th/>
                                            <th>Afternoon</th>
                                            <th/>
                                            </tr>
                                        </thead>`;
        tabledata2 += "<tbody>";
        
        
        
        dataArray.forEach((atten) => {
        console.log(atten)
        var regno = localStorage.getItem("regno");
        if(atten["regno"] == regno){  
            for(key in atten["attendance"]){
                tabledata2 += "<tr>";
                tabledata2 += '<td>' + cnt + "</td>";
                tabledata2 += '<td>' + key + "</td>";
                var myDate = key;
                var chunks = myDate.split('-');
                var formattedDate = chunks[1]+'-'+chunks[0]+'-'+chunks[2];
                var formattedDate = formattedDate.replace('-','/')
                var day = getDayName(formattedDate)
                tabledata2 += '<td>' + day + "</td>";
                var mycount1 = 1;

                for(key1 in atten["attendance"][key]){
                  tabledata2 += "<td>" + atten["attendance"][key][key1] + "</td>";
                    editDate = {
                      "regno":regno,
                      "schoolname":schoolname,
                      "std":std,
                      "section":section,
                      "day": day
                    }
                    // edit = editDate
                    localStorage.setItem('details',JSON.stringify(editDate))
                    myDateArr.push(key)

                    
                    tabledata2 += '<td><button class="form-control btn btn-dark" id="editBtn'+cnnt+'" style="width:40px;" onclick="editAttendance('+mycount+','+mycount1+')"><i class="fa fa-edit"></i></button></td>';
                    mycount = mycount + 1;
                    mycount1 = mycount1 + 1;
                    cnnt = cnnt+1
                  } 
            
            cnt = cnt + 1
            tabledata2 += "</tr>"; 
        }
      }
      
      tabledata2 += "</tbody>";
      table.innerHTML = tabledata2;
      });
    return; 
  }

    function studentAttendance(regno) {
      localStorage.setItem("regno", regno);
      window.location.replace("/teacher/student-attendance");
    }

    function printtopdf() {
      for (i=0;i<cnnt;i++){
        document.getElementById('editBtn'+i).style.display = "none"
      }

      document.getElementById('downloadBtn').style.display = "none"
      
      var printContents = document.getElementById("info-panel").innerHTML;
      var originalContents = document.body.innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
      for (i=0;i<cnnt;i++){
        document.getElementById('editBtn'+i).style.display = "block"
      }
      document.getElementById('downloadBtn').style.display = "block"
    }

    function hello(elem){
      var myArray = []
      myArray = [...myArray1];
      var input1 = "";
      
      input1 = document.getElementById('input').value
      var regno = localStorage.getItem('regno');
      if(input1 !== ""){
        var myObject = {};
        var myArr = []
        myDateArr = []
        if (elem.value !== "") {
            for (var i = 0; i < myArray.length; i++) {
              if (myArray[i]["regno"] == regno){
                  var myObj = myArray[i]["attendance"]
                  for (key in myObj){
                      if(key.indexOf(elem.value) > -1) {
                        myObject[key] = myArray[i]["attendance"][key]
                        myDateArr.push(key)
                      }
                  }
              }
            if (myArray[i]["regno"].indexOf(elem.value) > -1) {
                myArr.push(myArray[i])     
            }
        }

        var cnt = 1;
        document.getElementById('data-table').innerHTML = ""
        var table = document.getElementById("data-table");


        localStorage.setItem('std',"9");

        var tabledata2 = "";
        tabledata2 += `<thead class="thead-light">
                                            <tr>
                                            <th>R No.</th>
                                            <th>Date</th>
                                            <th>Day</th>
                                            <th>Forenoon</th>
                                            <th/>
                                            <th>Afternoon</th>
                                            <th/>
                                            </tr>
                                        </thead>`;
        tabledata2 += "<tbody>";

        var mycount = 0;
        cnnt = 0;
        var regno = localStorage.getItem("regno"); 
            for(key in myObject){
                tabledata2 += "<tr>";
                tabledata2 += '<td>' + cnt + "</td>";
                tabledata2 += '<td>' + key + "</td>";
                var myDate = key;
                var chunks = myDate.split('-');
                var formattedDate = chunks[1]+'-'+chunks[0]+'-'+chunks[2];
                var formattedDate = formattedDate.replace('-','/')
                var day = getDayName(formattedDate)
                tabledata2 += '<td>' + day + "</td>";
                var mycount1 = 1;

                for(key1 in myObject[key]){
                  tabledata2 += "<td>" + myObject[key][key1] + "</td>";
                    editDate = {
                      "regno":regno,
                      "schoolname":schoolname,
                      "std":std,
                      "section":section,
                      "day": day
                    }
                    // edit = editDate
                    localStorage.setItem('details',JSON.stringify(editDate))
                    tabledata2 += '<td><button class="form-control btn btn-dark" id="editBtn'+cnnt+'" onclick="editAttendance1('+mycount+','+mycount1+')"><i class="fa fa-edit"></i></button></td>';
                    mycount = mycount + 1;
                    mycount1 = mycount1 + 1;
                    cnnt = cnnt + 1;
                  } 
            
            cnt = cnt + 1
            tabledata2 += "</tr>"; 
      }
      
      tabledata2 += "</tbody>";
      table.innerHTML = tabledata2;
    }
  
}

else if(input1 == ""){
        var mycount = 0;
        var cnt = 1;
        cnnt = 0;
        document.getElementById('data-table').innerHTML = ""
        var table = document.getElementById("data-table");
        localStorage.setItem('std',"9");
        var tabledata2 = "";

        tabledata2 += `<thead class="thead-light">
                                            <tr>
                                            <th>R No.</th>
                                            <th>Date</th>
                                            <th>Day</th>
                                            <th>Forenoon</th>
                                            <th/>
                                            <th>Afternoon</th>
                                            <th/>
                                            </tr>
                                        </thead>`;
        tabledata2 += "<tbody>";
        
        
        
        myArray1.forEach((atten) => {
        console.log(atten)
        var regno = localStorage.getItem("regno");
        if(atten["regno"] == regno){  
            for(key in atten["attendance"]){
                tabledata2 += "<tr>";
                tabledata2 += '<td>' + cnt + "</td>";
                tabledata2 += '<td>' + key + "</td>";
                var myDate = key;
                var chunks = myDate.split('-');
                var formattedDate = chunks[1]+'-'+chunks[0]+'-'+chunks[2];
                var formattedDate = formattedDate.replace('-','/')
                var day = getDayName(formattedDate)
                tabledata2 += '<td>' + day + "</td>";
                var mycount1 = 1;

                for(key1 in atten["attendance"][key]){
                  tabledata2 += "<td>" + atten["attendance"][key][key1] + "</td>";
                    editDate = {
                      "regno":regno,
                      "schoolname":schoolname,
                      "std":std,
                      "section":section,
                      "day": day
                    }
                    // edit = editDate
                    localStorage.setItem('details',JSON.stringify(editDate))
                    myDateArr.push(key)

                    
                    tabledata2 += '<td><button class="form-control btn btn-dark" id="editBtn'+cnnt+'" onclick="editAttendance('+mycount+','+mycount1+')"><i class="fa fa-edit"></i></button></td>';
                    mycount = mycount + 1;
                    mycount1 = mycount1 + 1;
                    cnnt = cnnt + 1;
                  } 
            
            cnt = cnt + 1
            tabledata2 += "</tr>"; 
        }
      }
      
      tabledata2 += "</tbody>";
      table.innerHTML = tabledata2;
      });  
      }
}

function editAttendance(k,j){
  localStorage.setItem('date',myDateArr[k])
  if(j==1){
    localStorage.setItem('timing',"forenoon")
  }
  else if(j==2){
    localStorage.setItem('timing',"afternoon")
  }
  
  window.location.replace('/teacher/student-edit-attendance')
}


function editAttendance1(k,j){
  localStorage.setItem('date',myDateArr[k])
  if(j==1){
    localStorage.setItem('timing',"forenoon")
  }
  else if(j==2){
    localStorage.setItem('timing',"afternoon")
  }
  
  window.location.replace('/teacher/student-edit-attendance')
}
</script>
</html>
