<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="\static\teacher.js"></script>
    <script defer src="\static\index.js"></script>
    <link rel="stylesheet" href="\static\login-page.css">
    <link rel="icon" href="\static\filename.jpg" type="image/gif" sizes="16x16">
  </head>
  

  <script>
    var dataObject;
    var present = true;
    var absent = false;
    var enrolled_courses = {};
    var regno = localStorage.getItem("regId");
    var fd = new FormData();
    fd.append("regId", regno);
    fetch("/admin-portal/teacher-profile", {
      method: "POST",
      body: fd,
    })
      .then(function (response) {
        //console.log(response);

        return response.json();
      })
      .then(function (data) {
        console.log(data);
        enrolled_courses = data["enrolledCourses"];
        console.log(JSON.stringify(enrolled_courses, null, "\t"));
      });

    async function getAll() {
      let response = await fetch("/exam-time-table/getAll", {
        method: "POST",
        headers: {
          "Content-Type": "application/xxx-form",
        },
      });

      let data = await response.json();

      return data;
    }

    const data = getAll()
      .then((data) => {
        var dataObject = ObjectToArray(data);
        main(dataObject);
      })
      .then(() => {})
      .catch((err) => {
        alert("error");
      });

    function ObjectToArray(obj) {
      var arr = [];
      for (key in obj) {
        arr.push(obj[key]);
      }
      return arr;
    }

    function main(dataArray) {
      let table = document.getElementById("data-table");
      let table1 = document.getElementById("data-table1");
      let table2 = document.getElementById("data-table2");
      let table3 = document.getElementById("data-table3");
      let table4 = document.getElementById("data-table4");
      let table5 = document.getElementById("data-table5");
      let table6 = document.getElementById("data-table6");
      let table7 = document.getElementById("data-table7");
      console.log(dataArray);

      var std;
      var sec;

      let tabledata2 = "";
      let tabledata3 = "";
      let tabledata4 = "";
      let tabledata5 = "";
      let tabledata6 = "";
      let tabledata7 = "";
      let tabledata8 = "";
      let tabledata9 = "";

      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="9" && element["schoolname"] == schoolname){
          tabledata3 += '<thead class="thead-light"><tr><td><b>Class :   </b>' + element["class"] + 'th Standard</td><td/><td/><td><b>Name of the Examination  : </b>' + element["exam-name"] + '</td></tr></thead>';
          table1.innerHTML = tabledata3;
        } 
      });


      tabledata2 += `<thead class="thead-light">
                                            <tr>
                                            <th>Subject Name</th>
                                            <th></th>
                                            <th>Exam Date</th>
                                            <th></th>
                                            <th>Exam Time</th>
                                            </tr>
                                        </thead>`;

      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="9" && element["schoolname"] == schoolname){
         var len = Object.keys(element["time-table"]).length;
         for(key in element["time-table"]){
           console.log(element["time-table"][key]["subject-name"])
              tabledata2 += "<tbody>";
              tabledata2 += "<tr>";
              tabledata2 += '<th scope="row">' + element["time-table"][key]["subject-name"] + "</td>";
              tabledata2 += "<td></td>";
              tabledata2 += "<td>" + element["time-table"][key]["exam-date"] + "</td>";
              tabledata2 += "<td></td>";
              tabledata2 += "<td>" + element["time-table"][key]["exam-time"] + "</td>";

              tabledata2 += "</tr>";

              tabledata2 += "</tbody>";

              table.innerHTML = tabledata2;
         }
        } 
      });


      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="10" && element["schoolname"] == schoolname){
          tabledata5 += '<thead class="thead-light"><tr><td><b>Class :   </b>' + element["class"] + 'th Standard</td><td/><td/><td><b>Name of the Examination  : </b>' + element["exam-name"] + '</td></tr></thead>';
          table2.innerHTML = tabledata5;
        } 
      });


      tabledata4 += `<thead class="thead-light">
                                            <tr>
                                            <th>Subject Name</th>
                                            <th></th>
                                            <th>Exam Date</th>
                                            <th></th>
                                            <th>Exam Time</th>
                                            </tr>
                                        </thead>`;

      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="10" && element["schoolname"] == schoolname){
         var len = Object.keys(element["time-table"]).length;
         for(key in element["time-table"]){
           console.log(element["time-table"][key]["subject-name"])
              tabledata4 += "<tbody>";
              tabledata4 += "<tr>";
              tabledata4 += '<th scope="row">' + element["time-table"][key]["subject-name"] + "</td>";
              tabledata4 += "<td></td>";
              tabledata4 += "<td>" + element["time-table"][key]["exam-date"] + "</td>";
              tabledata4 += "<td></td>";
              tabledata4 += "<td>" + element["time-table"][key]["exam-time"] + "</td>";

              tabledata4 += "</tr>";

              tabledata4 += "</tbody>";

              table3.innerHTML = tabledata4;
         }
        } 
      });


      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="11" && element["schoolname"] == schoolname){
          tabledata7 += '<thead class="thead-light"><tr><td><b>Class :   </b>' + element["class"] + 'th Standard</td><td/><td/><td><b>Name of the Examination  : </b>' + element["exam-name"] + '</td></tr></thead>';
          table4.innerHTML = tabledata7;
        } 
      });


      tabledata6 += `<thead class="thead-light">
                                            <tr>
                                            <th>Subject Name</th>
                                            <th></th>
                                            <th>Exam Date</th>
                                            <th></th>
                                            <th>Exam Time</th>
                                            </tr>
                                        </thead>`;

      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="11" && element["schoolname"] == schoolname){
         var len = Object.keys(element["time-table"]).length;
         for(key in element["time-table"]){
           console.log(element["time-table"][key]["subject-name"])
              tabledata6 += "<tbody>";
              tabledata6 += "<tr>";
              tabledata6 += '<th scope="row">' + element["time-table"][key]["subject-name"] + "</td>";
              tabledata6 += "<td></td>";
              tabledata6 += "<td>" + element["time-table"][key]["exam-date"] + "</td>";
              tabledata6 += "<td></td>";
              tabledata6 += "<td>" + element["time-table"][key]["exam-time"] + "</td>";

              tabledata6 += "</tr>";

              tabledata6 += "</tbody>";

              table5.innerHTML = tabledata6;
         }
        } 
      });


      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="12" && element["schoolname"] == schoolname){
          tabledata9 += '<thead class="thead-light"><tr><td><b>Class :   </b>' + element["class"] + 'th Standard</td><td/><td/><td><b>Name of the Examination  : </b>' + element["exam-name"] + '</td></tr></thead>';
          table6.innerHTML = tabledata9;
        } 
      });


      tabledata8 += `<thead class="thead-light">
                                            <tr>
                                            <th>Subject Name</th>
                                            <th></th>
                                            <th>Exam Date</th>
                                            <th></th>
                                            <th>Exam Time</th>
                                            </tr>
                                        </thead>`;

      dataArray.forEach((element) => {
        var schoolname = localStorage.getItem("schoolname");
        if (element["class"]=="12" && element["schoolname"] == schoolname){
         for(key in element["time-table"]){
              tabledata8 += "<tbody>";
              tabledata8 += "<tr>";
              tabledata8 += '<th scope="row">' + element["time-table"][key]["subject-name"] + "</td>";
              tabledata8 += "<td></td>";
              tabledata8 += "<td>" + element["time-table"][key]["exam-date"] + "</td>";
              tabledata8 += "<td></td>";
              tabledata8 += "<td>" + element["time-table"][key]["exam-time"] + "</td>";

              tabledata8 += "</tr>";
              tabledata8 += "</tbody>";

              table7.innerHTML = tabledata8;
         }
        } 
      });


      return;
    }

    function studentProfile(regno) {
      localStorage.setItem("regno", regno);
      window.location.replace(
        "/teacher/student-profile"
      );
    }

    function studentAttendance(regno, attend) {
        // alert(attend)
        var fd = new FormData();
        fd.append("regno",regno);
        fd.append("isAttended",attend);
        fetch('/student/mark-attendance', {
            method: 'POST',
            body: fd
        }).then(function (response) {

            //console.log(response);

            return response.json();

        }).then(function (data) {
            console.log(data);
        });

    }
  </script>

  <body>
    <div id="teacher-div"></div>

    <div class="container-fluid">
      <div class="p-3 m-3">
        <div class="p-3 m-3">
          <div class="container">
            <!-- Container-->
            <div id="report_TextBoxesGroup" class="container bg-light p-3">
              <h5
                style="font-size: 25px; font-weight: bold"
                class="text-center pb-3 display-5"> Examination - Time Table </h5>

              <div>
                <div class="container">
                  <table class="table" id="data-table1"></table>
                  <table class="table" id="data-table"></table>
                  <table class="table" id="data-table2"></table>
                  <table class="table" id="data-table3"></table>
                  <table class="table" id="data-table4"></table>
                  <table class="table" id="data-table5"></table>
                  <table class="table" id="data-table6"></table>
                  <table class="table" id="data-table7"></table>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
