<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script defer src="F:\Admin dashboard\js\teacher-deleteAll.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<style>
    [contenteditable=true]:empty:not(:focus):before {
        content: attr(data-placeholder)
    }
</style>
<script>
    function teacher_register() {
        window.location.replace("/admin/teacher-register")
    }

    function teacher_enroll() {
        window.location.replace("/admin/enroll-teacher")
    }

    function teacher_delete() {
        var t = confirm("Do you really want to delete?");
        if (t == true) {
            teacher_deleteAll();
        }
        else {
            // document.write("Welcome To C# Corner");    
        }
    }
    async function getAll() {
        let response = await fetch("/teacher/getAll",
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/xxx-form"
                }
            }
        );

        let data = await response.json();

        //main(data)

        return data;
    }

    const data = getAll()
        .then((data) => {
            //console.log(data);
            var dataObject = ObjectToArray(data);
            main(dataObject);
        })
        .then(() => {

        })
        .catch((err) => {
            alert("error")
        });

    function main(dataArray) {
        let table2 = document.getElementById('data-table1');
        console.log(dataArray);
        let tabledata2 = "";

        tabledata2 += `<thead class="thead-light">
                                            <tr>
                                            <th>Name</th>
                                            <th>Register Number</th>
                                            <th>Enrolled Courses</th>
                                            <th>Teacher Profile</th>
                                            <th>Delete</th>
                                            </tr>
                                        </thead>`;
        dataArray.forEach(element => {

            var schoolname = localStorage.getItem("schoolname");
            if (element["schoolname"] == schoolname) {
            tabledata2 += '<tbody>';
            tabledata2 += '<tr>';
            tabledata2 += '<th scope="row">' + (element["name"]) + '</td>';
            tabledata2 += '<td>' + (element["regId"]) + '</td>';


            tabledata2 += '<td>';

            if (element["enrolledCourses"]["10"] == undefined && element["enrolledCourses"]["11"] == undefined && element["enrolledCourses"]["12"] == undefined) {
                tabledata2 += "Not enrolled"
            }


            if (element["enrolledCourses"]["10"] != undefined) {
                tabledata2 += "10th std - " + element["enrolledCourses"]["10"] + ", ";
                tabledata2 += "<br>";
            }
            else {
                tabledata2 += "<br>";
            }

            if (element["enrolledCourses"]["11"] != undefined) {
                tabledata2 += "11th std - " + element["enrolledCourses"]["11"] + ", ";
                tabledata2 += "<br>";
            }
            else {
                tabledata2 += "<br>";
            }

            if (element["enrolledCourses"]["12"] != undefined) {
                tabledata2 += "12th std - " + element["enrolledCourses"]["12"] + ", ";
                tabledata2 += "<br>";
            }
            else {
                tabledata2 += "<br>";
            }

            tabledata2 += '</td>'




            tabledata2 += '<td><input style="width:120px;" type="button" class="form-control btn btn-primary" onclick="teacherProfile(\'' + element["regId"] + '\')" value="View profile"></td>';

            tabledata2 += '<td><input style="width:90px;" type="button" class="form-control btn btn-primary" onclick="deleteTeacher(\'' + element["regId"] + '\')" value="Delete"></td>';

            tabledata2 += '</tr>';

            tabledata2 += '</tbody>'

            table2.innerHTML = tabledata2;
        }
        });

        return;
    }

    function loggedIn(loggedIn) {
        if (loggedIn == true)
            return '<p class="text-success">True</p>';
        else
            return '<p class="text-danger">False</p>';
    }

    function deleteTeacher(regno) {
        var fd = new FormData();
        fd.append("regId", regno);
        fetch('/teacher/delete', {
            method: 'POST',
            body: fd
        }).then(function (response) {

            //console.log(response);

            return response.json();

        }).then(function (data) {
            console.log(data);

        });
    }


    function teacherProfile(regno) {
        // alert(regno)
        localStorage.setItem("regId", regno);
        window.location.replace("/admin/teacher-profile");
    }



    function teacher_deleteAll() {

        var r = confirm("Press a button!");
        if (r == true) {
            fetch('/teacher/deleteAll', {
                method: 'POST',
            }).then(function (response) {
                //console.log(response);
                return response.json();

            }).then(function (data) {
                console.log(data);
            });
        } else {

        }
    }


</script>


<body>
    <div id="includedContent"></div>

    <div class="container-fluid">
        <div class="p-3 m-3">
            <div class="p-3 m-3">
                <div class="container">
                    <!-- Container-->
                    <div id='report_TextBoxesGroup' class='container bg-light p-3'>
                        <h5 style="font-size:25px;font-weight:bold;" class="text-center pb-3 display-5">Teacher
                            Details</h5>

                        <div class="row">
                            <div class=col-sm-2><input style="height:40px;" type='button' value='Enroll teacher'
                                    class="btn btn-primary mr-3" id='final_submit' onclick='teacher_enroll();'>
                            </div>
                            <div class=col-sm-2><input style="height:40px;" type='button' value='Register teacher'
                                    class="btn btn-primary mr-3" id='final_submit' onclick='teacher_register();'>
                            </div>
                            <div class=col-sm-6></div>
                            <div class=col-sm-2><input style="height:40px;" type='button' value='Delete all teachers'
                                    class="btn btn-primary mr-3" id='final_submit' onclick='teacher_delete();'>
                            </div>

                            <br><br>
                            <div class="container">
                                <div id="info-panel">

                                </div>
                                <table class="table" id="data-table1">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>